<!-- Header -->
{{> header }}

{{> minisearchform }}

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
			<h3 class="name sec-color">{{message "lang.entry-not-found.no-match"}} "{{ name.name }}"</h3>
			<p class="pri-color">{{message "lang.entry-not-found.suggest-text"}}</p>
			<hr />
			{{> submitnameform }}
			</div>
		</div>
	</div>
<section>

<!-- footer -->
{{> footer }}