{{> header }}

<section class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h2>{{message "lang.error-page-not-found"}}</h2>
            <h4 class="text-muted">{{message "lang.error-message1"}}</h4>
            <p>{{message "lang.error-message2"}}</p>
        </div>
    </div>
</section>