<!DOCTYPE html>
<html lang="en">

<head>
 {{> headHtml }}
    <title>{{ title }}</title>
</head>

<body>
<div class="wrapper">
<div id="head">
    <div id="search">
        <h2><span id="search-text-heading">Search</span> Yoruba Names Dictionary</h2>
        <input /><button>Search</button>
    </div>
</div>

</div>
<!-- Javascript -->
{{> scriptIncludes }}

</body>
</html>