
	<div class="input-group">             			
	    <input type="text" class="form-control" id="miniKeyboard" name="name" placeholder="{{message "lang.submitname.enternameplch"}}" >
	    <span class="input-group-addon" id="miniKeyboardp"><i class="fa fa-keyboard-o"></i></span>
	</div>