<div class="side-bar">
    <a href="#">
        <img src="/assets/img/volunteer.png" alt="Volunteer your time &amp; skills" title="Volunteer" />
    </a>
</div>
<div class="side-bar">
    <a href="#">
        <img src="/assets/img/submit-name.png" alt="Submit a name" title="Submit a name" />
    </a>
</div>