<div class="side-bar">
    <ul id="side_popular">
        <li><h5>{{message "lang.most-popular-names"}}</h5></li>
        <hr />
        {{#each mostPopular}}
            <li><a href="/entries/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</div>
