<section id="searchform">
    <div class="jumbotron" id="home-banner">
       <div class="container">
       		<h1>{{message "lang.jumbotron1"}} <span>{{nameCount}}</span> {{message "lang.jumbotron2"}}</h1>
            {{> searchcomponent }}
       </div>
    </div>
</section>