<section id="searchform">
    <div class="jumbotron" id="home-banner">
       <div class="container">
       		<h1>{{message "lang.jumbotron1"}} <span>10,000</span> {{message "lang.jumbotron2"}}</h1>
            {{> searchcomponent }}
            <!--h3>{{message "lang.jumboh31"}}</h3>
            <a href="/submitname" class="btn btn-lg btn-link">{{message "lang.jumboh32"}}</a-->
       </div>
    </div>
</section>