<!-- Header -->
{{> header }}

{{> minisearchform }}

<!-- main-content -->
<section>
   <div class="container">
       <div class="row">
           <div class="col-sm-7">
                <h3>{{message "lang.submitname.heading"}}</h3>
                <hr/>

                <div style="display: none" id="error-msg" class="alert alert-danger" role="alert">{{message "lang.submitname.nameexists"}}.
                    <a id="view-entry">{{message "lang.submitname.viewentry"}}</a></div>
                {{> submitnameform }}
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/submitname/submitname.js" defer></script>
<!-- footer -->
{{> footer }}