<!DOCTYPE html>
<html lang="en">

<head>
 {{> header }}
    <title>{{ title }}</title>
</head>

<body>
<div class="wrapper">
{{ title }}eldkekdl

</div>
<!-- Javascript -->
{{> scriptIncludes }}

</body>
</html>