<!-- Header -->
{{> header }}

{{> searchform }}

<!-- main-content -->

<section>
   <div class="container">

       <div class="row">
       
       <div class="col-sm-3">
       	  
       </div>

       <div class="col-sm-6">
			<h3>Admin/Volunteers</h3>
			<p><!-- commenting this now since we have a stable team somewhat and most of the request we are getting are for mobile development: something we are not planning for at the moment

			<h2>Lane 1. Design and development</h2>



			<h3>A. Art/Outlook/Design:</h3>


			We seek volunteers with skills in design, wireframes to help with the design architecture of YorubaName.com. You will be working alongside the software architect and the lexicographers to come up with an aesthetic design that best furthers the interest of the project.

			<h4>Required skills:</h4>


			Design Proficiency with any Graphic Software: Photoshop, Sketch, FireWorks, Corel Draw

			<h3>B. Development:</h3>


			Proficiency with Java programming and/or JavaScript Programming with experience or interest in client side frameworks like AngularJs, ReactJs.

			<h3>C. Software designers for iOS, Android, and Windows</h3>


			To create a mobile app that offers the same functionality as the web app, we seek creators that can realize our idea and functionality in an app form.

			<h4>Required skills:</h4>


			Proficiency in native application development in any of the 3 targeted platform or proficiency in any of the cross mobile application development toolkit, eg: Cordova, Meteor, Ionic, etc. --></p>
			<h2>Lane 1. Lexicographic related tasks</h2>
			<h3>A. Field work</h3>
			<p>We seek scholars (Nigerians and non-Nigerians) working in remote parts of the Yoruba countryside in Nigeria either as students (M.A, PhD, etc) or as health (or social service) workers, or in any other department. Their role will be to help with the gathering of names and (more importantly) of meanings, stories, legends, and other ethnographic and anthropological information.</p>
			<h4>Required skills:</h4>
			<p>Fieldwork interview skills, interpersonal skills, work with database (e.g. Microsoft Excel, etc)</p>
			<h3>B. Annotating, Proofreading, Digitizing</h3>
			<p>We seek Yoruba language scholars, students, enthusiasts, and teachers for freelance work in annotating, editing, and moderating entries in the dictionary, along with any other work relating to lexicography. Their work will build on the work of fieldworkers.</p>
			<h4>Required skills:</h4>
			<p>General computer knowledge, deep bilingual proficiency in Yoruba and English, a knowledge of Yoruba names, and/or a willingness to research.</p>
			<h3>C. Tone Marking and IPA</h3>
			<p>We seek linguists with knowledge of Yoruba phonology to help with lexicographic work relating to verifying tones on entries, tone-marking new entries into the database, and providing IPA notation for all the words in the dictionary.</p>
			<h4>Required skills:</h4>
			<p>General computer knowledge, knowledge of IPA/linguistics and Yoruba.</p>
			<h3>D. Voice over tasks</h3>
			<p>We seek female Yoruba speakers, with professional speaking competence, to help with pronouncing all the names in the dictionary. If in Nigeria, they must live in Ibadan or Lagos (or have electronic recording equipment of their own, if they live elsewhere).</p>
			<h2>Lane 2. Social media related tasks</h2>
			<h3>A. Social Media/PR</h3>
			<p>We seek one or two people interested in helping out in our PR department, which includes social media (Facebook, Twitter, Instagram), newsletter, blog, and other outreaches.</p>
			<h4>Required skills:</h4>
			<p>Knowledge of social media, proficiency in Yoruba, knowledge of basic computer design skills.</p>
			<h3>B. Social Media/Outreach</h3>
			<p>We seek people to help with public outreach. We seek more institutional support (from universities, language organizations, studios, institutes, and other relevant organizations.<br />
			Required skills: local and international contacts/connection.</p>
			<p>&nbsp;</p>
			<p><em>All these positions are on a volunteer basis. We are not – for now – able to offer financial incentive. There are other incentives in the work, however, which are not financial, but we hope that your decision to join us will be because you believe in the work and want to see it succeed.</em></p>
			<p><em>Send an email to <a href="mailto:volunteer@yorubaname.com?Subject=Volunteer" target="_top">volunteer@yorubaname.com</a> with the word “<strong>volunteer</strong>” and the specific lane and category in the subject line. For instance: “<strong>Volunteer 3A</strong>” for those interested in the PR position.</em></p>

	    </div>
     </div>
   </div>
   
</section>

<!-- /main-content -->

<!-- footer -->
{{> footer }}