<!DOCTYPE html>
<html lang="en">

<head>
 {{> headHtml }}
</head>

<body>
<div class="wrapper">
    Welcome to {{appName}}. <br/>

    When locale is en_Us --> {{i18n "lang.welcome"}} <br/>
    When locale is yoruba --> {{i18n "lang.welcome" bundle="messages_yor"}}
</div>
<!-- Javascript -->
{{> scriptIncludes }}
</body>
</html>