# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.factorypath
.settings/
.project
.classpath

# Maven
log/
target/
release.properties
pom.xml.releaseBackup
pom.xml.tagNameBackup
pom.xml.nextSnapshot
pom.xml.versionsBackup

# OS files
.DS_Store
Thumbs.db

# Other
*.pid
*.sublime-*
*/data/*
website/*.log
*.log*
