<p class="text-danger">* Kindly fill all required fields</p>

<form class="name-entry-form" name="form">

<div class="row">
    <div class="col-lg-6 col-sm-6 col-sm-6 col-xs-12">

        <div class="form-group">
            <label for="name" class="required">Name</label>
            <input type="text" id="name" class="form-control" ng-model="name.name" required>
        </div>
        <div class="form-group">
            <label for="meaning" class="required">Meaning</label>
            <textarea id="meaning" cols="10" rows="3" class="form-control" ng-model="name.meaning" required></textarea>
        </div>
        <div class="form-group">
            <label for="syllables" class="required">Syllable breakdown</label>
            <input type="text" id="syllables" class="form-control" ng-model="name.syllables" required>
        </div>
        <div class="form-group">
            <label for="geolocation" class="required">Geolocation</label>
            <span class="help-block">Where is this name most commonly used?</span>
            <select geolocation id="geolocation" class="form-control" placeholder="Select geolocation..." ng-model="name.geoLocation" required>
                <option ng-repeat="location in geoLocations" value="{{location}}">{{location.place}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="extra_info">Extra information about this name</label>
            <textarea id="extra_info" cols="10" rows="3" class="form-control" ng-model="name.extendedMeaning"></textarea>
        </div>
        <div class="form-group">
            <label for="ipa">IPA Notation</label>
            <input type="text" id="ipa" class="form-control" ng-model="name.ipaNotation">
        </div>
        <div class="form-group">
            <label for="pronounciation">Pronunciation</label>
            <input type="text" id="pronounciation" class="form-control" ng-model="name.pronunciation">
        </div>

    </div>

    <div class="col-lg-6 col-sm-6 col-sm-6 col-xs-12">

        <div class="form-group">
            <label for="morphology">Morphology</label>
            <input type="text" id="morphology" class="form-control" ng-model="name.morphology">
        </div>

        <div class="form-group">
            <h5>Etymology</h5>
            <etymology></etymology>
        </div>

        <div class="form-group">
            <label for="name_variants">Variants</label>
            <span class="help-block">Enter other known variations for this name. Use comma to separate the different variations.</span>
            <textarea id="name_variants" class="form-control" ng-model="name.variants"></textarea>
        </div>

        <div class="form-group">
            <label for="media">Media Link</label>
            <span class="help-block">Enter links to resources that can be found online for this name. Use comma to separate links.</span>
            <textarea id="media" class="form-control" ng-model="name.media"></textarea>
        </div>

        <div class="form-group">
            <label for="person_name">Famous People</label>
            <span class="help-block">Enter names of famous people bearing this name. Use comma to separate names.</span>
            <textarea id="person_name" class="form-control" ng-model="name.famousPeople"></textarea>
        </div>

    </div>
    
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <button type="submit" class="btn btn-lg btn-success" ng-click="submit()" ng-disabled="form.$invalid || !form.$dirty">{{ new ? 'Submit for Review' : 'Modify Entry' }}</button>
        <a ng-click="delete()" class="btn btn-link btn-lg" ng-hide="new || !isAdmin">Delete {{name.name}}</a>
    </div>
</div>

</form>