<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Edit User</span></div>
    </div>
</div>

<form class="update-user-form" name="form">

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="user_username" class="required">Username</label>
            <input type="text" id="user_username" class="form-control" ng-model="user.username" required>
        </div>

        <div class="form-group">
            <label for="user_email" class="required">Email</label>
            <input type="text" id="user_email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
            <label for="user_password" class="required">Password</label>
            <input type="password" id="user_password" class="form-control" ng-model="user.password" required>
        </div>
        
        <div class="form-group">
            <label class="required">Priviledges</label>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.BASIC" type="checkbox" ng-true-value="'ROLE_BASIC'">
                    Volunteer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.LEXICOGRAPHER" type="checkbox" ng-true-value="'ROLE_LEXICOGRAPHER'">
                    Chief Lexicographer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.DASHBOARD" type="checkbox" ng-true-value="'ROLE_DASHBOARD'">
                    Dashboard
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="roles" ng-model="roles.ADMIN" type="checkbox" ng-true-value="'ROLE_ADMIN'">
                    Admin
                </label>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <button type="submit" ng-click="submit()" ng-disabled="form.$invalid || !form.$dirty" class="btn btn-lg btn-success">Update Account</button>
    </div>
</div>

</form>