<div class="row">
    <div class="col-sm-7">
        <a class="btn btn-info btn-sm" ui-sref="auth.users.add_user">Add New User</a>
    </div>
    <div class="col-md-3">
        <input id="textFilter" type="text" class="form-control input-sm">
        <span class="help-block">Filter</span>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default btn-sm" ng-click="clearFilters()">Clear</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-yuk2 toggle-arrow-tiny" id="users_table" data-filter="#textFilter" data-page-size="10">
            <thead>
                <tr>
                    <th data-toggle="true">Username</th>
                    <th>Email Address</th>
                    <th>Role</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in usersList">
                    <td>{{user.username}}</td>
                    <td><strong>{{user.email}}</strong></td>
                    <td>{{user.roles}}</td>
                    <td>{{user.createdAt|toDateString}}</td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5">
                        <ul class="pagination pagination-sm"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>