<div class="row">
    <div class="col-md-12">
        <div class="heading_a"><span class="heading_text">Add A User</span></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="user_username" class="required">Username</label>
            <input type="text" id="user_username" class="form-control" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="user_name" class="optional">Name</label>
            <input type="text" id="user_name" class="form-control" ng-model="user.name">
        </div>

        <div class="form-group">
            <label for="user_email" class="required">Email</label>
            <input type="text" id="uaer_email" class="form-control" ng-model="user.email">
        </div>

        <div class="form-group">
            <label for="user_bio" class="optional">Bio</label>
            <textarea id="user_bio" cols="10" rows="3" class="form-control"  ng-model="user.bio"></textarea>
        </div>

        <div class="form-group">
            <label for="user_location" class="optional">Location</label>
            <input type="text" id="user_location" class="form-control" ng-model="user.location">
        </div>
        
        <div class="form-group">
            <label class="required">Priviledges</label>
            <div class="checkbox">
                <label>
                    <input ng-model="user.roles" type="checkbox" value="ROLE_BASIC">
                    Volunteer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input ng-model="user.roles" type="checkbox" value="ROLE_LEXICOGRAPHER">
                    Chief Lexicographer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input ng-model="user.roles" type="checkbox" value="ROLE_DASHBOARD">
                    Dashboard
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input ng-model="user.roles" type="checkbox" value="ROLE_ADMIN">
                    Admin
                </label>
            </div>
            
        </div>


    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <button type="submit" class="btn btn-lg btn-success">Create Account</button>
    </div>
</div>