<div class="row row_full">
    <div class="col-sm-6">
        <avatar width="80" height="80" ng-model="user" size="large"></avatar>
        <h1 class="user_profile_name">{{user.username}} <!--a class="btn btn-xs btn-primary pull-right" ui-sref="auth.profile.edit">Edit</a--></h1>
        <p class="user_profile_info">Chief Lexicographer (Volunteer)</p>
        <p class="user_profile_info"> <a ng-href="mailto:{{user.email}}">{{user.email}}</a></p>
    </div>
    <div class="col-sm-6 text-right-sm">
        <a class="btn btn-lg btn-success" ui-sref="auth.names.add_entries">Add Name Entry</a>
    </div>

    <div class="col-sm-12">
       <h5>Site Statistics</h5>
    </div>
     <div class="col-sm-3 col-xs-4">
        <div class="info_box_var_1 box_bg_b">
            <div class="info_box_body">
                <span class="countUpMe all_names" data-endVal="count_all_names">{{count_all_names || '0'}}</span>
            </div>
            <a class="info_box_footer" ui-sref="auth.names.list_entries({status:'all'})">
                <strong>Name Entries</strong>
            </a>
        </div>
    </div>
    <div class="col-sm-3 col-xs-4">
        <div class="info_box_var_1 box_bg_a">
            <div class="info_box_body">
                <span class="countUpMe published_names" data-endVal="count_published_names">{{count_published_names || '0'}}</span>
            </div>
            <a class="info_box_footer" ui-sref="auth.names.list_entries({status:'published'})">
                <strong>Published Entries</strong>
            </a>
        </div>
    </div>
    <div class="col-sm-3 col-xs-4">
        <div class="info_box_var_1 box_bg_d">
            <div class="info_box_body">
                <span class="countUpMe suggested_names" data-endVal="count_suggested_names">{{count_suggested_names || '0'}}</span>
            </div>
            <a class="info_box_footer" ui-sref="auth.names.list_entries({status:'suggested'})">
                <strong>Suggested Names</strong>
            </a>
        </div>
    </div>
    <!--div class="col-sm-2 col-xs-4">
        <div class="info_box_var_1 box_bg_c">
            <div class="info_box_body">
                <span class="countUpMe" data-endVal="13">13</span>
            </div>
            <a class="info_box_footer" ui-sref="auth.names.list_entries({status:'correct'})">
                Needs Attention
            </a>
        </div>
    </div>
    <div class="col-sm-2 col-xs-4">
        <div class="info_box_var_1">
            <div class="info_box_body">
                <span class="countUpMe" data-endVal="6">6</span>
            </div>
            <a class="info_box_footer" ui-sref="auth.names.list_entries({status:'draft'})">
                Draft Entries
            </a>
        </div>
    </div-->
</div>
<div class="row mHeight" ng-controller="searchCtrl">
    <div class="col-sm-8">
        <div class="heading_a"><span class="heading_text">Find Entry</span></div>
        <form ng-submit="exec_search()">
            <div class="input-group sepH_b">
                <input class="form-control input-lg" placeholder="Enter name" id="appendedInputButton" type="text" ng-model="search.entry" typeahead="entry.name for entry in names | filter:$viewValue | limitTo:8">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-lg" ng-disabled="!search.entry" ng-click="exec_search()" type="button"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="search.authorsEntry">
                    Only search my entries
                </label>
            </div>
        </form>

    </div>
    
</div>
<div class="row">
    <div class="col-sm-7">
        <div class="heading_a"><span class="heading_text">Latest Entries</span></div>
        
        <table class="table table-yuk">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Syllables</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in latestNames">
                    <td><a ui-sref="auth.names.edit_entries({entry:entry.name})">{{entry.name}}</a></td>
                    <td>{{entry.syllables}}</td>
                    <td>{{entry.indexed ? 'Indexed' : 'Not indexed'}}</td>
                    <td>{{entry.createdAt|toDateString}}</td>
                </tr>
            </tbody>
        </table>
            
    </div>
</div>