<div class="login_container">
    <form name="form" class="form-horizontal form-validation">
        <h2 class="heading_a"><span class="heading_text">Log in</span></h2>
        <div class="form-group">
            <label for="login_username" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" ng-model="login.email" class="form-control" placeholder="Enter your email" id="login_username" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label for="login_password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" ng-model="login.password" class="form-control" placeholder="Enter your password" id="login_password" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group sepH_c">
            <div class="col-sm-9 col-sm-offset-3">
                <button class="btn btn-sm btn-primary" type="submit" ng-click="submit()" ng-disabled='form.$invalid'>Log in</button>
            </div>
        </div>
    </form>
</div>