<div class="row etymology" ng-repeat="etymology in name.etymology track by $index">
    <div class="col-sm-4">
        <label>Part</label>
        <input type="text" class="form-control" name="part[{{$index}}]" ng-model="etymology.part">
        <span ng-show="form.part[{{$index}}].$invalid && !form.part[{{$index}}].$pristine" class="help-block text-danger">This etymology part is required</span>
    </div>
    <div class="col-sm-8">
        <label>Meaning</label>
        <input type="text" class="form-control" name="meaning[{{$index}}]" ng-model="etymology.meaning">
        <span ng-show="form.meaning[{{$index}}].$invalid && !form.meaning[{{$index}}].$pristine" class="help-block text-danger">This etymology meaning is required</span>
    </div>
    <a class="btn btn-xs btn-danger remove" ng-click="remove_etymology($index)"><i class="fa fa-times"></i></a>
</div>

<p class="text-right help-block"><a ng-click="add_etymology()">Add a new part and meaning pair</a></p>