.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.page-content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/** page view **/
.page-content {
  margin: 15px 0;
}

.page-content p + h4 {
  margin-top: 28px;
}

#msg-container {
height: 35px;
}

#msg-container.msg-success {
  color: #00A000;
  font-weight: bold;
}
#msg-container.msg-error {
  color: #b92c28;
  font-weight: bold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 600px;
  }

  /* Remove the padding we set earlier */
  .header,
  .page-content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }



/** Bootstrap override **/
.navbar-default {
  border-bottom: none;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 35px;
  font-size: 18px;
  line-height: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.container #sidebar {
  float: left;
  width: 16%;
}

.container #content {
  float: left;
  width: 66%;
}

.page-title {
  font-weight: bold;
  margin: 0px;
  border-bottom: 1px solid #eee;
}

/** components **/
/** sidebar **/
#sidebar {
  border-right:1px solid #DDD;
  padding-right: 5px;
  min-height: 500px;
}

#sidebar li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

/** content **/
#content {
  margin-left: 1%;
}}

/** navvar **/
.viewnav {
  margin-top:10px;
}
