<div>
  <form class="form-horizontal" role="form">

    <div id="msg-container" class="{{msg.type}}">
      {{msg.text}}
    </div>

    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-4">
        <input value="" class="form-control" id="username" type="username" placeholder="username" name="username" ng-model="createUserForm.username">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input autocomplete='off' class="form-control" id="email" type="email" placeholder="email" name="email" ng-model="createUserForm.email">
      </div>
    </div>
    <div class="form-group">
      <label for="roles" class="col-sm-2 control-label">Assign Role</label>
      <div class="col-sm-4">
        <select id="roles" ng-model="createUserForm.roles" multiple>
          <option name="admin" value="ROLE_ADMIN">Admin</option>
          <option name="lexicographer" value="ROLE_LEXICOGRAPHER" ng-selected="true">Lexicographer</option>
          <option name="basic" value="ROLE_BASIC" ng-selected="true">Basic</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-4">
        <input value="" type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="createUserForm.password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="createUser()" class="btn btn-success">{{ buttonAction }}</button>
      </div>
    </div>
  </form>

</div>
