<form name="uploadForm" class="form-horizontal" role="form" ng-controller="uploadEntryController">
    <div id="msg-container" class="{{msg.type}}">
        {{msg.text}}
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <div class="button" ngf-select ng-model="files">Select a templete to upload</div>
            </div>
        </div>
    </div>
    <strong>{{filename}}</strong>
    <div class="form-group" ng-show="invalidColumns.length > 0">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-danger">
            <h6>*This file contains the following invalid columns</h6>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="column in invalidColumns track by $index">{{column}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group" ng-show="postErrors.length > 0">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-danger">
            <h6>*Error occured on the following rows</h6>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="column in postErrors track by $index">{{column}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group" ng-if="validFile">
        <div class="col-sm-4" ng-show="disableUploadBtn">
            <progressbar class="progress-striped active" max="100" value="progressPercentage" type="success"><i>{{progressPercentage}} / 100</i></progressbar>
        </div>
    </div>
     <div class="form-group" ng-if="validFile">
        <div class="col-sm-4">

            <button ng-click="upload(files)" ng-disabled="disableUploadBtn" class="btn btn-success">Upload Now</button>

        </div>
    </div>
</form>
<hr/> Uploaded spreadsheets should have their column in a particular order [Insert the order here]. We have provided a name entry template with the columns in the right other. Download the <a href="{{appEndpoint}}/name_entry_template.xlsx">name entry template here</a>
