<div class="container">
  <div ng-if="suggestedNames.length > 0">
    <div class="row">
            <h2><strong>Suggested Entries</strong></h2>
    </div>
    <div class="row page-content">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Geo Location</th>
                    <th>SubmittedBy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in suggestedNames">
                    <th scope="row">{{ $index + 1 }}</th>
                    <td class="col-md-2">{{ entry.name }}</td>
                    <td class="col-md-4">{{ entry.details }}</td>
                    <td class="col-md-2">{{ entry.geoLocation.place }}</td>
                    <td class="col-md-2">{{ entry.email }}</td>
                    <td class="col-md-2">
                        <a ng-click="acceptSuggestedName(entry.name)" class="btn btn-primary btn-xs">Accept Entry</a>
                        <a ng-click="deleteSuggestedName(entry.name)" class="btn btn-danger btn-xs">Delete Entry</a>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>

  <div ng-if="suggestedNames.length === 0">
    No suggested name at the moment...
  </div>
</div>
