<div>
<form class="form-horizontal" role="form">

  <div id="msg-container" class="{{msg.type}}">
    {{msg.text}}
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-4">
      <input class="form-control" id="email" type="email" placeholder="email" name="email" ng-model="loginForm.email">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="loginForm.password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="login()" class="btn btn-success">{{ buttonAction }}</button>
    </div>
  </div>
</form>

</div>
