<div>
<form class="form-horizontal" role="form">

  <div id="msg-container" class="{{msg.type}}">
    {{msg.text}}
  </div>

  <div class="form-group">
    <label for="nameEntry" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input ng-readonly="duplicateView"  class="form-control" id="nameEntry" placeholder="Name" name="name" ng-model="formEntry.name">
    </div>
  </div>

  <div class="form-group">
    <label for="pronunciationEntry" class="col-sm-2 control-label">Pronunciation</label>
    <div class="col-sm-4">
      <input class="form-control" id="pronunciationEntry" placeholder="pronunciation" name="tonalMark" ng-model="formEntry.pronunciation">
    </div>
  </div>

  <div class="form-group">
    <label for="ipaEntry" class="col-sm-2 control-label">IPA Notation</label>
    <div class="col-sm-4">
      <input class="form-control" id="ipaEntry" placeholder="IPA Notation" name="ipaNotation" ng-model="formEntry.ipaNotation">
    </div>
  </div>

  <div class="form-group">
    <label for="syllablesEntry" class="col-sm-2 control-label">Syllabic Breakdown</label>
    <div class="col-sm-4">
      <input class="form-control" id="syllablesEntry" placeholder="Syllables" name="syllables" ng-model="formEntry.syllables">
    </div>
  </div>

  <div class="form-group">
    <label for="meaningEntry" class="col-sm-2 control-label">Meaning</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="meaningEntry" placeholder="Meaning of word" name="meaning" ng-model="formEntry.meaning"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="extendedMeaningEntry" class="col-sm-2 control-label">Extend Meaning</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="extendedMeaningEntry" placeholder="Meaning of word" name="extendedMeaning" ng-model="formEntry.extendedMeaning"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="etymologyEntry" class="col-sm-2 control-label">Etymology</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="etymologyEntry" placeholder="etymology" name="etymology" ng-model="formEntry.etymology"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="variantsEntry" class="col-sm-2 control-label">Variants</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="variantsEntry" placeholder="Variants" name="variants" ng-model="formEntry.variants"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="morphologyEntry" class="col-sm-2 control-label">Morphology</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="morphologyEntry" placeholder="Morphology" name="morphology" ng-model="formEntry.morphology"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="geoLocationEntry" class="col-sm-2 control-label">Geolocation</label>
    <div class="col-sm-4">
      <select id="geoLocationEntry" name="geoLocation" ng-model="formEntry.geoLocation">
        <option value="awori">Awori</option>
        <option value="egba">Egba</option>
        <option value="ijesha">Ijesha</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="famousPeopleEntry" class="col-sm-2 control-label">Famous People</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="famousPeopleEntry" placeholder="Famous People" name="famousPeople" ng-model="formEntry.famousPeople"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="otherLanguagesEntry" class="col-sm-2 control-label">Found in other languages</label>
    <div class="col-sm-4">
      <textarea class="form-control" id="otherLanguagesEntry" placeholder="Names in other languages" name="inOtherLanguages" ng-model="formEntry.inOtherLanguages"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="tagsEntry" class="col-sm-2 control-label">Tag</label>
    <div class="col-sm-4">
      <input class="form-control" id="tagsEntry" placeholder="Tags" name="tags" ng-model="formEntry.tags">
    </div>
  </div>

  <div class="form-group">
    <label for="mediaEntry" class="col-sm-2 control-label">Media</label>
    <div class="col-sm-4">
      <input class="form-control" id="mediaEntry" placeholder="Pronunciation" name="media" ng-model="formEntry.media">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="create()" class="btn btn-success">{{ buttonAction }}</button>
    </div>
  </div>
</form>
<hr/>

  <div ng-if="duplicateView">
<h3>Duplicate entries (Copy and modify main entry if useful. If not remove)</h3>
<ul id="duplicateList">
  <li ng-repeat="entry in duplicates">
    {{ entry.name }} - {{ entry. meaning | limitTo: 80}} ... <a class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#collapseEntry{{$index}}">more</a>
  <br/>
    <div class="collapse" id="collapseEntry{{$index}}">
      <div class="duplicateDetails">
        <strong>Name:</strong> {{ entry.name }} <br/>
        <strong>Tone Mark:</strong> {{ entry.tonalMark }} <br/>
        <strong>Meaning:</strong> {{ entry.meaning }} <br/>
        <strong>Morphology:</strong> {{ entry.morphology }} <br/>
        <strong>Geolocation:</strong> {{ entry.geoLocation }} <br/>
      </div>
    </div>
  </li>

</ul>
  </div>

</div>
