<div class="row">
    

    <div class="col-sm-7">
        <a class="btn btn-sm btn-info" ui-sref="auth.names.add_entries">Add Name Entry</a>
        <div class="btn-group btn-sm">
            <a ui-sref="auth.names.list_entries({status:'all'})" class="btn btn-sm btn-default" ng-class="status == 'all' ? 'btn-primary' : ''">All Names</a>
            <a ui-sref="auth.names.list_entries({status:'published'})" class="btn btn-sm btn-default" ng-class="status == 'published' ? 'btn-primary' : ''">Published Names</a>
            <a ui-sref="auth.names.list_entries({status:'suggested'})" class="btn btn-sm btn-default" ng-class="status == 'suggested' ? 'btn-primary' : ''">Suggested Names</a>
            <a ui-sref="auth.names.list_entries({status:'correction'})" class="btn btn-sm btn-default" ng-class="status == 'correction' ? 'btn-primary' : ''">Needing Correction</a>
        </div>
    </div>

    <div class="col-sm-3">
        <input id="textFilter" type="text" class="form-control input-sm" placeholder="Type a name here to quickly filter the list">
        <span class="help-block">Filter</span>
    </div>
    
    <div class="col-sm-2">
        <a class="btn btn-default btn-sm" ng-click="clearFilters()">Clear</a>
    </div>

</div>

<div class="row" ng-if="status != 'suggested'">
    <div class="col-md-12">
        <table class="table table-yuk2 toggle-arrow-tiny" id="names_table" data-filter="#textFilter" data-page-size="5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Syllables</th>
                    <th>Geolocation</th>
                    <th ng-show="isAdmin">Status</th>
                    <th>Submitted By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in namesList" on-last-repeat>
                    <td ng-hide="!isAdmin"><input type="checkbox" value="{{$index}}" name="selected_name"> <a ui-sref="auth.names.edit_entries({entry:entry.name})">{{entry.name}}</a></td>
                    <td ng-show="!isAdmin"><strong>{{entry.name}}</strong></td>
                    <td>{{entry.syllables}}</td>
                    <td>{{entry.geoLocation.place}}</td>
                    <td ng-hide="!isAdmin"><a class="btn btn-xs" ng-class="entry.indexed ? 'btn-default' : 'btn-success'" ng-click="indexName(entry)">{{entry.indexed ? 'Remove from Index' : 'Add to Index'}}</a></td>
                    <td>{{entry.submittedBy}}</td>
                    <td>{{entry.createdAt|toDateString}}</td>
                </tr>
                <tr class="text-center" ng-show="!namesList.length">
                    <td colspan="6">
                        <h1><i class="fa fa-lg fa-smile-o text-muted"></i></h1>
                        <h3 class="text-muted">Nice, there's something to do.</h3>
                        <p class="lead">Get started by adding names either in bulk or one at a time to populate the names database.</p>
                        <a class="btn btn-success btn-lg" ui-sref="auth.names.add_entries">Add Name Entries</a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="6">
                        <ul class="pagination pagination-sm"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

        <a ng-show="isAdmin" ng-click="indexNames('add')" class="btn btn-success btn-sm">Index Selected</a>
        <a ng-show="isAdmin" ng-click="indexNames('remove')" class="btn btn-default btn-sm">Remove Selected from Index</a>
    </div>
</div>


<div class="row" ng-if="status == 'suggested'">
    <div class="col-md-12">
        <div class="well well-sm text-center" ng-show="!namesList.length">
            <h1><i class="fa fa-3x fa-smile-o text-muted"></i></h1>
            <h3 class="text-muted">Not a thing to do.</h3>
            <p class="lead">Great! It seems you've processed all suggested names. Enjoy your day!</p>
        </div>

        <table class="table table-yuk2 toggle-arrow-tiny" id="names_table" data-filter="#textFilter" data-page-size="5" ng-show="namesList.length">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Geolocation</th>
                    <th>Suggested By</th>
                    <th>Date</th>
                    <th ng-hide="!isAdmin">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in namesList" on-last-repeat>
                    <td><input type="checkbox" value="{{entry.name}}" name="selected_name"> <strong>{{entry.name}}</strong></td>
                    <td>{{entry.details}}</td>
                    <td>{{entry.geoLocation.place}}</td>
                    <td>{{entry.email}}</td>
                    <td>{{entry.createdAt|toDateString}}</td>
                    <td ng-hide="!isAdmin"><a class="btn btn-xs btn-danger" ng-click="delete(entry)">Delete</a></td>
                </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5">
                        <ul class="pagination pagination-sm"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>

        <a ng-click="delete()" ng-hide="!namesList.length || !isAdmin" class="btn btn-danger btn-sm">Delete Selected</a>
</div>