<div class="row">
  <div class="col-sm-8 col-sm-offset-2" ng-controller="searchCtrl">
  	
  	<div class="heading_a"><span class="heading_text">Find Entry</span></div>
    
    <form ng-submit="exec_search()">
        <div class="input-group sepH_b">
            <input class="form-control input-lg" placeholder="Enter name" id="appendedInputButton" type="text" ng-model="search.entry" typeahead="entry.name for entry in names | filter:$viewValue | limitTo:8">
            <span class="input-group-btn">
                <button class="btn btn-success btn-lg" ng-disabled="!search.entry" ng-click="exec_search()"><i class="fa fa-search"></i> Search</button>
            </span>
        </div>
        <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="search.authorsEntries">
                Only search my entries
            </label>
        </div>
    </form>
        
  </div>

  <!--div class="col-sm-8 col-sm-offset-2">
      <h4>Showing results for {{search.entry}}</h4>

      <p></p>
  </div-->

</div>